.portfolio {
    padding: 0 70px 125px;
    display: flex;
    flex-direction: column;
}

.portfolio__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #A0A0A0;
    margin: 0;
}

.portfolio__links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -.04em;
    gap: 20px;
    padding-bottom: 19px;
    margin: 0;
    margin-top: 49px;
}

.portfolio__link {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 19px;
    
}

.portfolio__link:last-of-type {
    border-bottom: 0;
    padding-bottom: 19px;
}

.portfolio__link-name {
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    color: #000;
}

.portfolio__link-image {
    display: flex;
    min-width: 20px;
    object-fit: contain;
}