.about {
    display: flex;
    flex-direction: column;
    padding: 110px 70px;
}

.about__container {
    display: flex;
    flex-direction: column;
}

.about__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 26.63px;
    border-bottom: 1px solid black;
    margin: 0;
    padding-bottom: 23px;
    letter-spacing: -.04em;
}

.about__descriptions {
    display: flex;
    margin-top: 70px;
    margin-bottom: 110px;
    gap: 49px;

}

.about__description {}

.about__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24.2px;
    margin: 0;
    margin-bottom: 26px;
    letter-spacing: -.04em;
}

.about__subtitle-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}

.about__timeline {
    display: grid;
    grid-template-columns: 228px 912px;
    grid-template-rows: 36px 36px;
    text-align: center;
    margin: 0;
    letter-spacing: -.04em;

}

.about__timeline_time {
    display: flex;
    justify-content: center;
    align-items: center;

}

.about__timeline_type {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #A0A0A0;
    margin-top: 10px;
}

.about__timeline_1-week {
    background-color: #2BE080;
}

.about__timeline_4-week {
    background-color: #F2F2F2;

}