.register {
    display: flex;
    flex-direction: column;
    margin: 70px auto 70px;
    max-width: 396px;
    width: 100%;
    justify-content: center;
}

.register__container {
    display: flex;
    flex-direction: column;
    max-width: 396px;
    width: 100%;
}

.register__logo {
    max-width: 38px;
    width: 100%;
}

.register__logo:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.register__title {
    margin: 0;
    margin-top: 36px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29.05px;
}

.form__fieldset {
    display: flex;
    flex-direction: column;
}

.form__input-label {
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.form__input {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #e8e8e8;
    padding: 0;
    padding-bottom: 10px;
}

.form__input:focus {
    outline: none;
    border-bottom: 1px solid #3456f3;
}

.profile__input-error {
    min-height: 25px;
    color: #ff3055;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: justify;
}

.form__request-error {
    min-height: 12px;
    color: #ff3055;
    font-weight: 400;
    font-size: 10px;
    line-height: 12.1px;
    margin-bottom: 20px;
    text-align: center;
}

.form__buttons {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
}

.form__button {
    all: unset;
    background-color: #3456f3;
    font-weight: 500;
    font-size: 14px;
    line-height: 16.94px;
    cursor: pointer;
    color: #ffffff;
    padding: 15px 126px;
    border-radius: 3px;
    text-align: center;
}

.form__button_disabled {
    background-color: #f8f8f8;
}

.form__button_disabled:hover {
    opacity: 0;
    transition: 0;
}

.form__button:hover {
    opacity: 0.8;
    transition: 0.5s;
}

.form__links {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    gap: 6px;
}

.form__link-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: #a0a0a0;
}

.form__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    text-decoration: none;
    color: #3456f3;
}

.form__link:hover {
    opacity: 0.8;
    transition: 0.5s;
}

@media screen and (max-width: 768px) {
    .register {
        margin-top: 232px;
    }

    .form__buttons {
        margin-top: 55px;
    }
}

@media screen and (max-width: 500px) {
    .register {
        margin-top: 0;
        align-items: center;
        max-width: 260px;
        margin-top: 54px;
    }

    .register__logo {
        margin: auto;
    }

    .register__title {
        max-width: 260px;
        text-align: center;
    }

    .form__button {
        padding: 15px 0;
        max-width: 260px;
        font-size: 12px;
        line-height: 14.52px;
    }

    .form__fieldset {
        max-width: 260px;
        width: 100%;
    }

    .register__title {
        margin-top: 50px;
        margin-bottom: 80px;
    }

    .form__buttons {
        max-width: 260px;
        width: 100%;
        margin-top: 142px;
    }

    .form__link-text {
        font-size: 12px;
        line-height: 14.52px;
    }

    .form__link {
        font-size: 12px;
        line-height: 14.52px;
    }
}
