.form__button_type-login {
    padding-left: 176px;
    padding-right: 176px;
    margin-top: 69px;
}

@media screen and (max-width: 768px) {
    .form__buttons_login {
        margin-top: 95px;
    }
}

@media screen and (max-width: 500px) {
    .form__button_type-login {
        padding-left: 111px;
        padding-right: 111px;
    }

    .form__buttons_login {
        margin-top: 183px;
    }
}

@media screen and (max-width: 300px) {
    .form__button_type-login {
        padding-left: 75px;
        padding-right: 75px;
    }
}